<div style="">
  <div class="row well">
    <div class="text-center col-sm-6">
      <a href="#contacts/new" class="btn btn-lg btn-outline">Add Contact</a>
    </div>
    <div class="text-center col-sm-6">
      <input type="text" class="form-control contact-name-search" placeholder="Search">
    </div>
  </div>
  <ul class="media-list row contacts-container"></ul>
  <div class="empty-contacts-placeholder">
    <div class="well text-center">
      <h3>There are no contacts.</h3>
      <a href="#contacts/new" class="btn btn-lg btn-outline">Add Contact</a>
    </div>
  </div>
  <div class="empty-search-contacts-placeholder"></div>